
<footer class="bg-dark text-center  custom-footer text-white pt-3 " >
  
  <div class="container-fluid">
   
    <div class="row">
           
        <div class="col-md-4">
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
    
      
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fab fa-twitter"></i>
            </a>
    
            <a class="btn btn-outline-light btn-floating" href="#!" role="button">
              <i class="fab fa-google"></i>
            </a>
    
       
            <a class="btn btn-outline-light btn-floating" href="#!" role="button">
              <i class="fab fa-instagram"></i>
            </a>
    
        
            <a class="btn btn-outline-light btn-floating " href="#!" role="button"><i class="fab fa-linkedin-in"></i>
            </a>
    
      
            <a class="btn btn-outline-light btn-floating" href="#!" role="button">
                <i class="fab fa-github"></i>
            </a>
        </div>
        
          <div class="col-md-4">
            <h5>Email :info@imagegallery.com</h5>
            <h5>Tel: +254 5647483</h5>
       
          </div>
         <div class="col-md-4">
          <h5 >Address: Moringa School,Nairobi.</h5>
         </div>
            
       
    </div>      

   
   </div>
   


</footer>
