{% extends 'main/base.html'%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="mb-3">
    <div class="container-fluid hero mb-4">
        <div class="row ms-4 pt-5">
         {% if current_user.is_authenticated %}
         <div class="col-md-2">
             <div class="mx-2 ">
                 <a href="{{url_for('main.view_image')}}" class="btn btn-outline-info text-white">View Images</a>
             </div>
         </div>
         {% endif %}
        </div>
        <div class="row text-center">
            
            <h1>Home Of Real Pictures</h1>
            <p>
                Image Gallery App  gives photographers and artists a platform to showcase their work.
            </p>
        </div>
        <div class="row buttons">
            <div class="col-md-5">

            </div>
            <div class="col-md-2">
                <div class="mx-2">
                    <a href="#viewimages" class="btn btn-outline-info text-white">View Images</a>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="mx-2">
                    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-info text-white">add Images</a>
                </div>
            </div>
        </div>
     </div>
     
    <div class="container" id="viewimages">
        <h3 class="text-center">Sample of the best images available</h3>
        <div class="row">
     
            {% for image in images %}
            <div class="col-md-3 my-2 mx-0">
                <img class="imageview" src="/static/photos/{{image.img}}" alt=""  height="200px" width="230px">
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}

