{% extends 'main/base.html' %}
{% block content %}
<div class="container py-5">
  <div class="row">
   <div class="col-md-7 mb-5">
    <h4>Home photo</h4>
    <div class="img mb-4">
        <img src="/static/photos/{{img.img}}" alt="{{img.imagename}}" width="100%">
    </div>
   </div>
    <div class="col-md-4 mt-5">
      <div class="details mb-5">
        <h2>
          Image Details
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim itaque doloribus ut fugiat! Recusandae, architecto sequi quia alias a repellendus vel voluptatum velit ipsam nisi sunt incidunt maiores qui! Illo.</p>
        <p></p>
        <div class="download m-2">
            <a
              class="btn btn-outline-info custom-btn"
              href="/static/photos/{{img.img}}"
              download
              >download</a>
          </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}